{% extends "emails/base_email.html" %} {% load i18n %} {% block title %}{% trans
"Confirm Your Email Address" %}{% endblock title %} {% block content %}
<h1>{% trans "Confirm Your Email Address" %}</h1>
<p>
  {% blocktrans %} Welcome to ClassEasily! To complete your registration and
  activate your account, please confirm your email address by clicking the
  button below. {% endblocktrans %}
</p>

<!-- Button -->
<table
  role="presentation"
  border="0"
  cellpadding="0"
  cellspacing="0"
  width="100%"
>
  <tr>
    <td align="center" class="button-td">
      <a href="{{ activate_url }}" target="_blank" class="button">
        {% trans 'Confirm Email Address' %}
      </a>
    </td>
  </tr>
</table>

<p>
  {% blocktrans %} If you cannot click the button, please copy and paste the
  following URL into your web browser: {% endblocktrans %}
</p>
<p style="word-break: break-all; font-size: 14px">
  <a
    href="{{ activate_url }}"
    target="_blank"
    style="color: #ff385c; text-decoration: underline"
    >{{ activate_url }}</a
  >
</p>
<p>
  {% blocktrans %} If you did not sign up for an account on ClassEasily, you can
  safely ignore this email. {% endblocktrans %}
</p>
<p>{% trans "Thanks," %}<br />{% trans "The ClassEasily Team" %}</p>
{% endblock content %} {% block footer_recipient %} {% if user and user.email %}
<p>
  {% blocktrans %}This email was sent to {{ user.email }}.{% endblocktrans %}
</p>
{% endif %} {% endblock footer_recipient %}
