# .ebextensions/django.config

# These commands are run on the server during deployment.
commands:
  01_install_postgres_dev_libraries:
    # Enables the PostgreSQL 13 extras repository and installs the developer libraries needed by psycopg2-binary.
    command: "sudo amazon-linux-extras enable postgresql13 && sudo yum install -y postgresql-devel"

# This tells EBS how to configure and run your Django application.
option_settings:
  aws:elasticbeanstalk:application:environment:
    # Points to your main settings file
    DJANGO_SETTINGS_MODULE: "CEBackend.settings"
  aws:elasticbeanstalk:container:python:
    # Points to the WSGI entry point for your application
    WSGIPath: CEBackend.asgi:application

# These commands are run inside the container during deployment.
container_commands:
  01_migrate:
    # This command runs your database migrations.
    # 'leader_only: true' ensures it only runs on one instance, not all of them.
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    # This command collects all your static files into one directory.
    command: "python manage.py collectstatic --noinput"
    leader_only: true