# .ebextensions/django.config

# This tells EBS to install the correct PostgreSQL client developer libraries
# for the Amazon Linux 2023 platform.
packages:
  dnf: # Use 'dnf' instead of 'yum' for Amazon Linux 2023
    postgresql15-devel: []

container_commands:
  # Using source to load the environment variables from EB and activating the virtualenv
  01_migrate:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  
  02_collectstatic:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true