# .ebextensions/django.config

# This tells EBS to install the correct PostgreSQL client developer libraries
# for the Amazon Linux 2023 platform.
packages:
  dnf: # Use 'dnf' instead of 'yum' for Amazon Linux 2023
    postgresql15-devel: []

# These commands are run on the server during deployment.
container_commands:
  01_migrate:
    # This command runs your database migrations.
    # 'leader_only: true' ensures it only runs on one instance, not all of them.
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    # This command collects all your static files into one directory.
    command: "python manage.py collectstatic --noinput"
    leader_only: true