{% extends "emails/base_email.html" %}
{% load i18n %}

{% block title %}
    {% trans "Claim Your Account" %}
{% endblock title %}

{% block content %}
    <h1>{% trans "Your Account is Ready!" %}</h1>
    <p>{% blocktrans with first_name=user.first_name %}Hi {{ first_name }},{% endblocktrans %}</p>
    
    <p>{% trans "We have finished setting up your business profile on ClassEasily. It's time for you to take the keys." %}</p>
    
    <p>{% trans "Click the button below to set your password and access your dashboard." %}</p>

    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="center" class="button-td">
                <a href="{{ claim_url }}" target="_blank" class="button">{% trans 'Claim My Account' %}</a>
            </td>
        </tr>
    </table>

    <p>{% trans "This link is valid for 24 hours. If you did not request this, please ignore this email." %}</p>
{% endblock content %}